a {
    text-decoration: none !important;
    color: #35405a;
}

html {
    scroll-behavior: smooth;
}

.search input,
.search select {
    text-align: center;
    width: 30%;
    font-size: 15px;
    border-width: 0px;
    border: none;
    margin-right: 5px;
}

.search {
    width: 100%;
    height: auto;
    margin-top: 100px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08) !important;
    padding: 10px;
}

.search button {
    background-color: #2ED1A2;
    color: white;
    margin-left: 10px;
}

.btn-core:hover {
    background-color: rgb(68, 230, 184);
    color: white;
}


/* */

.openingText {
    line-height: 50px;
    position: absolute;
    margin-top: 100px;
}

.landing-text {
    font-family: Baloo;
    font-size: 60px;
    color: #7e544d;
}

.landing {
    position: relative;
    margin-top: 50px;
}

.landing img {
    max-width: 750px;
    float: right;
}

.heading-partners button {
    background-color: #2ed1a2;
    color: white;
    position: absolute;
    bottom: 0;
    margin-bottom: 2%;
    right: 0;
    margin-right: 15px
}

.heading-partners h3 {
    color: brown;
}


/* */

.make-post {
    padding-top: 100px;
}

.make-post input {
    margin-bottom: 5px;
}


/* Card Partners */

.card-body {
    line-height: 8px;
    padding: 10px
}

.card-partners h6 {
    color: #35405a;
    font-family: OpenSans-SemiBold;
}

.card-partners h5 {
    color: #2ED1A2;
    font-family: OpenSans-SemiBold;
}

.card-partners p {
    font-size: 12px;
}

.thread-partner {
    margin-left: 25px;
}

.img-hover-zoom {
    height: 160px;
    /* [1.1] Set it as per your need */
    overflow: hidden;
    /* [1.2] Hide the overflowing of child elements */
}

.img-adver {
    height: 100%;
}

.img-hover-zoom img {
    transition: transform .5s ease;
    width: 100%;
    height: auto;
}

.card-partners:hover .img-hover-zoom img {
    transform: scale(1.5);
}

.display-profil {
    right: 0;
    margin-top: -35px;
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    margin-right: 10px;
}


/* BOX EXPLORE MALANG */

.overlay-bg {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: auto;
    height: auto;
    /* background-color: rgba(0, 0, 0, .5); */
    color: #fff;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    border-radius: 5px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
}

.overlay-bg p {
    font-family: Baloo;
    font-size: 25px;
}

.grid-explore {
    margin-bottom: 10px;
}

.grid-explore:hover .img-hover-zoom img {
    transform: scale(1.5);
}


/* About Us */

.about {
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 0 100px 0 100px;
}

@font-face {
    font-family: Baloo;
    src: url(../fonts/Baloo-Regular.ttf);
}

@font-face {
    font-family: OpenSans-Reguler;
    src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: OpenSans-SemiBold;
    src: url(../fonts/OpenSans-Semibold.ttf);
}

@media(max-width:1000px) {
    .user-action span {
        display: none;
    }
}

@media(max-width:670px) {
    .user-action span {
        display: none;
    }
    #home-logo {
        width: 120px;
    }
    .img-fluid {
        width: 100px;
    }
}