body {
    scroll-behavior: smooth;
}

a {
    text-decoration: none !important;
    color: #35405a;
}

.navbar {
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08) !important;
}

.search input[type="search"] {
    display: block;
    text-align: center;
    width: 100%;
    font-size: 12px;
}

.search {
    position: relative;
    width: 75%;
}

.search i {
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px;
    color: #aaa;
}

.navbar .dropdown-item i {
    font-size: 16px;
    min-width: 22px;
}

.navbar .dropdown-item .material-icons {
    font-size: 21px;
    line-height: 16px;
    vertical-align: middle;
    margin-top: -2px;
}

.navbar .nav-item.open>a,
.navbar .nav-item.open>a:hover,
.navbar .nav-item.open>a:focus {
    color: #fff;
    background: none !important;
}

.navbar .dropdown-menu {
    border-radius: 1px;
    border-color: #e5e5e5;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.navbar .dropdown-menu li a {
    color: #777 !important;
    padding: 8px 20px;
    line-height: normal;
}

.navbar .dropdown-menu li a:hover,
.navbar .dropdown-menu li a:focus {
    color: #333 !important;
    background: transparent !important;
}

.navbar .nav .active a,
.navbar .nav .active a:hover,
.navbar .nav .active a:focus {
    color: #fff;
    text-shadow: 0 0 4px rgba(255, 255, 255, 0.2);
    background: transparent !important;
}

.navbar .nav .user-action {
    padding: 9px 15px;
}

.notif {
    position: absolute;
    top: -5px;
    right: -5px;
    width: auto;
    margin-top: 0;
    padding: 3px 5px;
    background: #da311b;
    font-family: "Roboto", sans-serif;
    font-size: 10px;
    color: #fff;
    font-weight: 300;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.avatar {
    vertical-align: middle;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: black;
}

.page-content {
    margin-top: 100px;
}

.card-body {
    line-height: 8px;
    padding: 10px;
}

.card-partners h6 {
    color: #35405a;
    font-family: OpenSans-SemiBold;
    font-size: 13px;
}

.card-partners h5 {
    color: #2ed1a2;
    font-family: OpenSans-SemiBold;
    font-size: 15px;
}

.card-partners p {
    font-size: 11px;
}

.img-hover-zoom {
    height: auto;
    /* [1.1] Set it as per your need */
    overflow: hidden;
    /* [1.2] Hide the overflowing of child elements */
}

.img-hover-zoom img {
    transition: transform 0.5s ease;
}

.card-partners:hover .img-hover-zoom img {
    transform: scale(1.5);
}

.display-profil {
    right: 0;
    margin-top: -35px;
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    margin-right: 10px;
}

.partners-thread-card {
    margin-bottom: 25px;
}

.card-text {
    line-height: 3px;
    font-size: 10px;
}

.filter {
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    margin-bottom: 25px;
    font-size: 0.8rem;
    padding: 5px;
}

.filter input,
.filter select {
    font-size: 12px;
}

.reset button {
    margin-bottom: 10px;
    margin-top: 10px;
}

@font-face {
    font-family: Baloo;
    src: url(../fonts/Baloo-Regular.ttf);
}

@font-face {
    font-family: OpenSans-Reguler;
    src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: OpenSans-SemiBold;
    src: url(../fonts/OpenSans-Semibold.ttf);
}