body {
    scroll-behavior: smooth;
}

a {
    text-decoration: none !important;
    color: #35405a;
}

.page-content {
    margin-top: 100px;
}

.card-body {
    line-height: 8px;
    padding: 10px;
}

.card-partners h6 {
    color: #35405a;
    font-family: OpenSans-SemiBold;
    font-size: 13px;
}

.card-partners h5 {
    color: #2ed1a2;
    font-family: OpenSans-SemiBold;
    font-size: 15px;
}

.card-partners p {
    font-size: 11px;
}

.img-hover-zoom {
    height: auto;
    /* [1.1] Set it as per your need */
    overflow: hidden;
    /* [1.2] Hide the overflowing of child elements */
}

.img-hover-zoom img {
    transition: transform 0.5s ease;
}

.card-partners:hover .img-hover-zoom img {
    transform: scale(1.5);
}

.display-profil {
    right: 0;
    margin-top: -35px;
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    margin-right: 10px;
}

.partners-thread-card {
    margin-bottom: 25px;
}

.card-text {
    line-height: 3px;
    font-size: 10px;
}

.filter {
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    margin-bottom: 25px;
    font-size: 0.8rem;
    padding: 5px;
}

.filter input,
.filter select {
    font-size: 12px;
}

.reset button {
    margin-bottom: 10px;
    margin-top: 10px;
}

@font-face {
    font-family: Baloo;
    src: url(../fonts/Baloo-Regular.ttf);
}

@font-face {
    font-family: OpenSans-Reguler;
    src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: OpenSans-SemiBold;
    src: url(../fonts/OpenSans-Semibold.ttf);
}