html {
    width: 100%;
}

a {
    text-decoration: none !important;
    color: #35405a;
}

.avatarProfil {
    vertical-align: middle;
    position: relative;
}

.avatarProfil img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: black;
    margin-top: -15%;
}

.avatarProfil span {
    position: absolute;
}

.modal-title {
    text-align: center;
}

.modal-body {
    max-height: calc(70vh - 200px);
    overflow-y: auto;
    background-color: rgb(245, 239, 239);
}

.riwayatPerjalanan img {
    width: 100px;
    border-radius: 5px;
}

.isi-riwayatPerjalanan {
    border: 0.5px;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 10px;
    /* display: inline-block; */
}

.isi-riwayatPerjalanan:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08);
}

.isi-riwayatPerjalanan h5 {
    font-size: 15px;
}

.isi-riwayatPerjalanan p {
    font-size: 10px;
}

.penilaian {
    padding: 10px;
    border: 0.5px;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 10px;
}

.penilaian img {
    width: 40px;
    border-radius: 50%;
}

.isi-penilaian h5 {
    font-size: 15px;
}

.isi-penilaian p {
    font-size: 10px;
}

.checked {
    color: orange;
}

.btn-core {
    background-color: #2ed1a2;
    color: white;
}

.btn-core:hover {
    background-color: rgb(68, 230, 184);
    color: white;
}

.box {
    box-shadow: 0 3px 6px 0 hsla(0, 0%, 69%, 0.16);
    margin-bottom: 50px;
    background: white;
    border-radius: 15px;
    position: relative;
    text-align: center;
    padding: 5px;
    width: 60%;
    margin: 0 auto;
    height: 100%;
    margin-top: -20%;
}

.deskripsi-profil {
    color: rgb(56, 55, 55);
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

.text-profil p {
    color: rgb(126, 126, 126);
    font-size: 20px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.text-profil span {
    font-weight: bold;
    font-size: 25px;
    color: brown;
}

.tab-pane {
    padding: 10px;
}

.minat-profil {
    margin-top: 50px;
    margin-bottom: 50px
}

.minat-profil h5 {
    font-size: 20px;
}

.teman-profil {
    border-radius: 50%;
    width: 75px;
    margin-left: 10px;
}

@font-face {
    font-family: Baloo;
    src: url(../../fonts/Baloo-Regular.ttf);
}

.wrapper-setting {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08);
    height: 700px;
}

.avatar-setting {
    width: 75px;
    height: 75px;
}

.addGalery {
    width: 100%;
    height: 200px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08);
    border-radius: 5px;
    margin: 20px;
}


/* .uploadKTP {
    border: 2px dashed #91b0b3;
    margin: 50px;
    color: #92b0b3;
    position: relative;
    height: 150px;
} */

.dropzone-wrapper {
    border: 2px dashed #91b0b3;
    color: #92b0b3;
    position: relative;
    height: 150px;
}

.dropzone-desc {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;
    width: 40%;
    top: 50px;
    font-size: 16px;
}

.dropzone,
.dropzone:focus {
    position: absolute;
    outline: none !important;
    width: 100%;
    height: 150px;
    cursor: pointer;
    opacity: 0;
}

.dropzone-wrapper:hover,
.dropzone-wrapper.dragover {
    background: #ecf0f5;
}

.previewKTP img {
    height: 200px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08);
}

.previewKTP {
    margin-bottom: 50px;
}